<html lang="en">
<%- include('header'); -%>
<%- include('container'); -%>
  <div class="jumbotron">
	<h1>Вы успешно зарегистрировались !</h1>
	<p>Добро пожаловать сюда</p>
	<p>
	  <a href="/home/profile">Ваш профиль</a>
	</p>
  </div>
<%- include('footer'); -%>